<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.naver.goods.mapper.ShopInfoTbMapper">
    <resultMap id="resultMap" type="com.naver.goods.entity.ShopInfoTb">
        <id column="id" property="id" />
        <result column="shop_name" property="shopName"/>
        <result column="client_id" property="clientId"/>
        <result column="client_secret" property="clientSecret"/>
        <result column="account_id" property="accountId"/>
        <result column="create_time" property="createTime"/>
        <result column="compare_prices" property="comparePrices"/>
    </resultMap>
</mapper>